@using Lol.Bilgewater.Resources
@{
    ViewBag.Title = "About";
}
<br />
<div class="well">
    <h3>@Strings.Tools</h3>
    <p>
        @Html.Raw(string.Format(Strings.ToolsText1, "<a href='https://www.visualstudio.com/de-de/products/visual-studio-express-vs.aspx'>Visual Studio Express</a>"))
    </p>
    <p>
        @Html.Raw(string.Format(Strings.ToolsText2, "<a href='http://azure.microsoft.com/'>Azure-Website</a>"))
    </p>
</div>
<div class="well">
    <h3>@Strings.DataProcessing</h3>
    <p>
        @Strings.DataText1
    </p>
    <p>
        @Html.Raw(string.Format(Strings.DataText2, "<a href='http://icsharpcode.github.io/SharpZipLib/'>SharpZipLib</a>"))        
    </p>
    <p>
        @Html.Raw(string.Format(Strings.DataText3, "<a href='https://code.google.com/p/protobuf-net/'>Protobuf</a>", "<a href='http://www.newtonsoft.com/json'>Json.NET</a>", "<a href='http://www.chartjs.org/'>Charts.js</a>"))        
    </p>
</div>
<div class="well">
    <h3>@Strings.Presentation</h3>
    <p>
        @Html.Raw(string.Format(@Strings.PresentationText1,"<a href='http://getbootstrap.com/'>Bootstrap</a>","<a href='http://bootswatch.com/slate/'>Slate</a>"))        
    </p>
    <p>
                @Strings.PresentationText2        
        <ul>
            <li><a href="http://www.w3schools.com/aspnet/webpages_razor.asp">ASP.NET MVC Razor</a></li>
            <li><a href="https://jquery.com/">jQuery</a></li>
        </ul>
    </p>
</div>
