@using Lol.Bilgewater.Resources
@model Lol.Bilgewater.Models.ViewModel
@{
}
<br />
<div class="jumbotron">
    <h1>@Strings.Welcome</h1>
    <p>@Strings.WelcomeText1</p>
    <blockquote>
        <p>Given a data set of Black Market Brawlers match IDs, create a piece of software that utilizes the game data from these matches. </p>
        <small>Riot Tuxedo</small>
    </blockquote>
    <p>@Strings.WelcomeText2</p>
    <p>@Strings.WelcomeText3</p>
    <p><a href="/Home/Mercs" class="btn btn-primary btn-lg">@Strings.LetsGo</a></p>
</div>
<div class="well">
    <h3>Aah yes, and do not to forget - Boobs</h3>
    <img class="img-rounded" style="width:300px;"  src="/Image/boobs.jpg"/>
</div>