<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoL Bilgewater-Breakdown</title>    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LoL Bilgewater-Breakdown", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Region@(Model.Region != "all" ? " [" + Model.Region.ToUpper() + "]" : "") <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Index", "Home", new { Region = "all" })">All</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "br" })">BR</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "eune" })">EUNE</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "euw" })">EUW</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "kr" })">KR</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "lan" })">LAN</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "las" })">LAS</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "na" })">NA</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "oce" })">OCE</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "ru" })">RU</a></li>
                            <li><a href="@Url.Action("Index", "Home", new { Region = "tr" })">TR</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Items", "Items", "Home")</li>
                    <li>@Html.ActionLink("Champions", "Champions", "Home")</li>
                    <li>@Html.ActionLink("Dokumentation", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LoL Bilgewater-Breakdown</p>
            <p>
                LoL Bilgewater-Breakdown isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
